a {
  text-decoration: none;
}

.product-card {
  width: 95%;
  position: relative;
  box-shadow: 0 2px 7px #d8d8d8;
  margin: 10px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #d3d3d3;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: white;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9d9d9d;
  margin-bottom: 8px;
}

.product-details h4 {
  display: block;
  font-weight: 650;
  margin-bottom: 2px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.product-details h4:hover {
  color: rgb(148, 148, 148);
}

.product-details p {
  min-height: 65px;
  font-size: 15px;
  line-height: 22px;
  color: #797979;
  text-align: justify;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-bottom-details {
  padding-top: 1px;
  margin-top: 8px;
  overflow: hidden;
  border-top: 1px solid #42b844;
}

.product-bottom-details div {
  float: left;
  width: 100%;
  /* background:#9d9d9d; */
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #0e0e0e;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
